<!DOCTYPE html>
<!-- Created by Sandor Naghi -->
<html>
<table width="700px" height="50px">
	<tr>
		<td>Title</td>
		<td>Date</td>
		<td>Time</td>
		<td>Where</td>
		<td>Visibility</td>
		<td>Action</td>
	</tr>
	<tr th:each="schedule : ${schedule}">
					<td th:text="${{schedule.title}}"></td>
					<td th:text="${{schedule.postingDate}}"></td>
					<td th:text="${{schedule.postingTime}}"></td>
					<td th:text="${{schedule.media}}"></td>
					<td th:text="${{schedule.visibility}}"></td>
					<td>
						<a th:href="@{/schedule/schedule_delete?title={title}(title=${{schedule.title}})}">Delete post</a>
					</td>
	
	</tr>
</table>
<br/>
<a href="/schedule/schedule_create">Schedule a new post</a>

</html>